# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environments
env/
venv/
ENV/
